/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2022, 4:18:03 PM
    Author     : win
*/
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 50px;
    list-style: none;
    background-color: lightgray;
    border-radius: 4px;
}
thead{
    background: #6b90da; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}
