<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TakeAttendanceController</servlet-name>
        <servlet-class>controller.lecture.TakeAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupAttendanceController</servlet-name>
        <servlet-class>controller.lecture.GroupAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.lecture.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendanceController</servlet-name>
        <servlet-class>controller.lecture.UpdateAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAttendanceController</servlet-name>
        <servlet-class>controller.lecture.InsertAttendanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TakeAttendanceController</servlet-name>
        <url-pattern>/view/takeattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupAttendanceController</servlet-name>
        <url-pattern>/view/groupattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/view/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendanceController</servlet-name>
        <url-pattern>/view/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAttendanceController</servlet-name>
        <url-pattern>/view/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
